body {
    background-color:skyblue;
}

div {
    display: inline-flexbox;
    align-items: center;
}

h1 {
    justify-content: center;
}

.done {
    text-decoration: line-through;
    color: red;
}